<style type="text/css">
	#map {
		/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
		height: 250px;
		width: 350px;
	}
</style>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script type="text/javascript">
	// On initialise la latitude et la longitude de Paris (centre de la carte)
var lat = 43.67292;
var lon = 7.15051;
var macarte = null;
// Fonction d'initialisation de la carte
function initMap() { // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
macarte = L.map('map').setView([
lat, lon
], 11);
// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 1,
maxZoom: 20
}).addTo(macarte);
var marker = L.marker([43.67292, 7.15051]).addTo(macarte);
}
window.onload = function () { // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
initMap();
};
</script>
<footer class="container-fluid bg-light mt-3">
	<div class="row">
		<section class="col">
			<div id="map"></div>
		</section>
		<section class="col">
			<div class="embed-responsive embed-responsive-100x400px">
				<iframe src="https://www.google.com/maps/embed?pb={{ MAP }}" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</section>
		<section class="col">
			<div class="col-sm-4" id="contact2">
				<h3>Nous contacter?</h3>
				<hr align="left" width="50%">
				<h4 class="pt-2">Adresse</h4>
				<i class="fas fa-globe" style="color:#000"></i>
				{{ ADRESSE }}<br>
				<h4 class="pt-2">Contact</h4>
				<i class="fas fa-phone" style="color:#000"></i>
				<a href="tel:+">
					{{ TEL }}
				</a><br>
				<i class="fab fa-whatsapp" style="color:#000"></i>
				<a href="tel:+">
					{{ WHATSAPP }}
				</a><br>
				<h4 class="pt-2">Email</h4>
				<i class="fa fa-envelope" style="color:#000"></i>
				<a href="">{{ MAIL }}</a><br>
			</div>
		</div>
	</div>

</section></div></footer>
