<nav class="navbar navbar-expand-lg navbar-dark bg-primar bg-primary mb-2">
	<div class="container-fluid ">
		<a class="navbar-brand " href="{{ path('main') }}">
			<img src="https://image.ballejaune.com/logos/100/4045_1564485158.jpg" alt="" width="42" height="42" class="d-inline-block align-text-top">
			Gestion Reservation (Us Cagnes Tennis)
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent"></ul>
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			{% if app.user %}

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Bonjour
						{{app.user.prenom}}
						{{app.user.nom}}!
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if (is_granted ('ROLE_COACH_PLUS') or is_granted ('ROLE_ADMIN'))%}
							<li class="nav-item">
								<a class="dropdown-item" href="{{ path('myadmin.index') }}">
									Administration</a>
							</li>
							<li><hr class="dropdown-divider"></li>
						{% endif %}
						<li class="nav-item">
							<a class="dropdown-item" href="{{ path('app_profile') }}">
								Mon compte</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li class="nav-item">
							<a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
						</li>
						{% if (is_granted ('ROLE_JOUEUR')) %}
							<li>
								<a class="dropdown-item" href="{{ path('achat_liste') }}">Ajouter un pack de scéance</a>
							</li>
						{% endif %}

					</ul>
				</li>

			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">Me Connecter / M'Enregistrer</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div></nav>
