{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ app.user.prenom }}!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="main-body">
			<div class="row gutters-sm">
				<div class="col-md-4 mb-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<div>
									<img src="{{ gravatar(app.user.email) }}" alt="Admin" class="rounded-circle" width=" 150">
									<h4>{{ app.user.prenom }}
										{{ app.user.nom }}</h4>
									{% if app.user.dateNaissance %}
										<p class="text-secondary mb-1">({{ app.user.dateNaissance | getAge }}
											ans)</p>
									{% endif %}
									<p class="text-muted font-size-sm">{{ app.user.niveau  }}</p>
									<a class="btn btn-primary " href="{{ path('achat_liste') }}">Nouvel Achat</a>
									<button class="btn btn-outline-primary">Message</button>
								</div>
							</div>
						</div>
					</div>
					{% include "profile/_social.html.twig" %}
				</div>
				<div class="col-md-8">
					<div class="card mb-3">
						<div class="card-body">

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Téléphone</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{ app.user.telephone }}
								</div>
							</div>
							<hr>
							<hr>
							<hr>
							<div class="row">
								<div class="col-sm-12">
									<a class="btn btn-info " href="{{ path('profile_edit', {'id': app.user.id}) }}">Editer</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row gutters-sm">
						<div class="col-sm-6 mb-3">
							<div class="card h-100">
								<div class="card-body">
									<h6 class="d-flex align-items-center mb-3">

										<i class="material-icons text-info mr-2">Prochains cours</i>
										&nbsp; (<a href="{{ path('my_reservation') }}">Tout voir</a>)
									</h6>
									{% for cours in app.user.getCours %}
										{% if  ("now"|date("Ymd")  <=  cours.jour|date("Ymd"))  %}
											<div>
												<small>
													{{cours.jour|date("d/m/Y")}}
													({{ cours.heureDebut|date("h:i")}}
													-
													{{ cours.heureFin|date("h:i")}}) -
													<a href="{{ path('cancel_reservation', {'id': cours.id }) }}" class="btn btn-warning btn-sm">
														Annuler
													</a>
												</small>
											</div>
										{% endif %}
									{% endfor %}

								</div>
							</div>
						</div>
						<div class="col-sm-6 mb-3">
							<div class="card h-100">
								<div class="card-body">
									<div class="card l-bg-green-dark">
										<div class="card-statistic-3 p-4">
											<div class="card-icon card-icon-large">
												<i class="fas fa-ticket-alt"></i>
											</div>
											<div class="mb-4">
												<h5 class="card-title mb-0">Solde en cours</h5>
											</div>
											<div class="row align-items-center mb-2 d-flex">
												<div class="col-8">
													<h2 class="d-flex align-items-center mb-0">
														{{ app.user.nombreLeconsRestantes }}
													</h2>
												</div>
												{# <div class="col-4 text-right"> #}
											{# <span>10% #}
												{# <i class="fa fa-arrow-up"></i> #}
												{# </span> #}
												{# </div> #}
											</div>
											<div class="progress mt-1 " data-height="8" style="height: 8px;">
												<div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
