<form method="post" action="{{ path('app_centres_delete', {'id': centre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.id) }}">
    <button class="btn">Delete</button>
</form>
