{% extends 'base.html.twig' %}

{% block title %}Edit Centres{% endblock %}

{% block body %}
    <h1>Edit Centres</h1>

    {{ include('centres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_centres_index') }}">back to list</a>

    {{ include('centres/_delete_form.html.twig') }}
{% endblock %}
