{% extends 'base.html.twig' %}

{% block title %}Centres index{% endblock %}

{% block body %}
    <h1>Centres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>AdresseComplementaire</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>Twitter</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centre in centres %}
            <tr>
                <td>{{ centre.id }}</td>
                <td>{{ centre.nom }}</td>
                <td>{{ centre.adresse }}</td>
                <td>{{ centre.adresseComplementaire }}</td>
                <td>{{ centre.mail }}</td>
                <td>{{ centre.telephone }}</td>
                <td>{{ centre.twitter }}</td>
                <td>{{ centre.facebook }}</td>
                <td>{{ centre.instagram }}</td>
                <td>
                    <a href="{{ path('app_centres_show', {'id': centre.id}) }}">show</a>
                    <a href="{{ path('app_centres_edit', {'id': centre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_centres_new') }}">Create new</a>
{% endblock %}
