{% extends 'base.html.twig' %}

{% block title %}New Centres{% endblock %}

{% block body %}
    <h1>Create new Centres</h1>

    {{ include('centres/_form.html.twig') }}

    <a href="{{ path('app_centres_index') }}">back to list</a>
{% endblock %}
