{% extends 'base.html.twig' %}

{% block title %}Centres{% endblock %}

{% block body %}
    <h1>Centres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ centre.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ centre.adresse }}</td>
            </tr>
            <tr>
                <th>AdresseComplementaire</th>
                <td>{{ centre.adresseComplementaire }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ centre.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ centre.telephone }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ centre.twitter }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ centre.facebook }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ centre.instagram }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_centres_index') }}">back to list</a>

    <a href="{{ path('app_centres_edit', {'id': centre.id}) }}">edit</a>

    {{ include('centres/_delete_form.html.twig') }}
{% endblock %}
