{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div id="main-wrapper" class="container">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté(e) comme
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Me déconnecter</a>
				</div>
			{% endif %}
			<div class="row justify-content-center">
				<div class="col-xl-10">
					<div class="card border-0">
						<div class="card-body p-0">
							<div class="row no-gutters">
								<div class="col-lg-6">
									<div class="p-5">
										<div class="mb-5">
											<h3 class="h4 font-weight-bold text-theme">Se connecter</h3>
										</div>

										<h6 class="h5 mb-0">Bienvenue!</h6>
										<p class="text-muted mt-2 mb-5">Entrer votre mail et mot de passe pour vous connecter.</p>

										<form>
											<div class="form-group">
												<label for="inputEmail">Adresse Email</label>
												<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
											</div>
											<div class="form-group mb-5">
												<label for="inputPassword">Mot de passe</label>
												<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
												<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											</div>
											<button type="submit" class="btn btn-theme">Se connecter</button>

											<a href="{{ path('forgotten_password') }}" class="forgot-link float-right  btn btn-theme">Mot de passe oublié?</a>
										</form>
									</div>
								</div>

								<div class="col-lg-6 d-none d-lg-inline-block">
									<div class="account-block rounded-right">
										<div class="overlay rounded-right"></div>
										<div class="account-testimonial">
											<h4 class="text-white mb-4">ULTRA l'esprit de famille!</h4>
											<p class="lead text-white">"Nous restons proche de vous."</p>
											<p>- ULTRA</p>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- end card-body -->
						<div class="card-footer text-muted">
							<p class="text-muted text-center mt-2 mb-2">Pas de compte?
								<a href="{{ path('app_register') }}" class="text-primary ml-1">S'enregister (Joueur)
								</a>
								|
								<a href="{{ path('app_register_coach') }}" class="text-primary ml-1">S'enregister (Coach)</a>
							</p>
						</div>
					</div>
					<!-- end card -->
					<!-- end row -->
				</div>
				<!-- end col -->
			</div>
			<!-- Row -->
		</form>
	</div>
	{# <section class="container my-3">
									<div class="row">
										<div class="col">
											<form method="post">
												{% if error %}
													<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
												{% endif %}
							
												{% if app.user %}
													<div class="mb-3">
														Vous êtes connecté(e) comme
														{{ app.user.userIdentifier }},
														<a href="{{ path('app_logout') }}">Me déconnecter</a>
													</div>
												{% endif %}
							
												<h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
												<label for="inputEmail">Email</label>
												<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
												<label for="inputPassword">Mot de passe</label>
												<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							
												<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							
							
												Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																										                    See https://symfony.com/doc/current/security/remember_me.html
							
												<div class="checkbox mb-3">
													<label>
														<input type="checkbox" name="_remember_me">
														Remember me
													</label>
												</div>
							
							
												<button class="btn btn-lg btn-primary mt-3" type="submit">
													Me connecter
												</button>
												<a href="{{ path('app_register') }}" class="btn btn-secondary mt-3">M'inscrire</a>
												<a href="{{ path('forgotten_password') }}" class="btn btn-secondary mt-3">Mot de passe oublié</a>
							
											</form>
							
										</div>
									</div>
								</section> #}

{% endblock %}
