{# {% extends 'admin/admin.html.twig' %} #}
{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les abonnés
{% endblock %}

{% block body %}
{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un nouvel abonné', chemin:'myadmin.abonne.create'}) }}

<div class="flash"></div>
<table class="table">
	<thead>
		<tr>
			<th>
				{{ knp_pagination_sortable(abonnes, 'ID', 'r.id')}}
			</th>
			<th>
				{{ knp_pagination_sortable(abonnes, 'Nom', 'r.prenom')}}
			</th>

			<th>
				{{ knp_pagination_sortable(abonnes, 'Prenom', 'r.nom')}}
			</th>
			<th>
				Leçons restantes
			</th>
			<th>
				{{ knp_pagination_sortable(abonnes, 'Niveau', 'r.niveau')}}
			</th>

			<th style="width: 300px">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		{% for abonne in abonnes %}
			<tr id="row_abonne_{{ abonne.id }}">
				<td>{{ abonne.id }}
				</td>
				<td>{{ abonne.prenom }}
				</td>
				<td>
					{{ abonne.nom}}
				</td>
				<td>
					{{ abonne.nombreLeconsRestantes}}
				</td>
				<td>
					{{ abonne.niveau }}
				</td>

				<td>
					<div class="d-flex gap-1">
						<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.abonne.edit', {id: abonne.id}) }}">Editer</a>
						<form action="{{ path ('myadmin.abonne.delete', {id: abonne.id}) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
						</form>

					</div>
				</td>
			</tr>
		</tbody>
	</tbody>
</tr></td></tbody></tr>{% endfor %}</tbody></table>{{ knp_pagination_render(abonnes) }}{% endblock %}
