{# {% extends 'admin/admin.html.twig' %} #}
{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les coachs
{% endblock %}

{% block body %}

{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un nouveau cours', chemin:'myadmin.cours.create'}) }}
<div class="flash"></div>
<table class="table">
	<thead>
		<tr>
			<th>
				{{ knp_pagination_sortable(cours, 'ID', 'r.id')}}
			</th>
			<th>
				Heue de début
			</th>

			<th>
				Heue de fin
			</th>
			<th>
				Jour
			</th>
			<th>
				Coach
			</th>
			<th>
				Encours
			</th>
			<th style="width: 300px">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		{% for unCours in cours %}
			<tr id="row_cours_{{ unCours.id }}">
				<td>{{ unCours.id }}
				</td>
				<td>{{ unCours.heureDebut|date('H:i') }}
				</td>
				<td>
					{{ unCours.heureFin|date('H:i')}}
				</td>
				<td>
					{{ unCours.jour|date('d/m/Y')}}
				</td>
				<td>
					{{ unCours.coach.prenom }}
				</td>
				<td>
					{{ unCours.nombreEncours }}
				</td>
				<td>
					<div class="d-flex gap-1">
						<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.cours.edit', {id: unCours.id}) }}">Editer</a>
						<form action="{{ path ('myadmin.cours.delete', {id: unCours.id}) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
						</form>

					</div>
				</td>
			</tr>
		</td>
	</tbody>
</tr></tbody></tbody></tr></td></tbody></tr>{% endfor %}</tbody></table>{{ knp_pagination_render(cours) }} {% endblock %}
