{% extends 'base.html.twig' %}

{% block title %}Inscription d'un Coach
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription d'un coach</h1>

				{{ form_start(registrationForm) }}
				<fieldset class="mb-3">
					<legend>Mon identité</legend>
					{{ form_row(registrationForm.nom) }}
					{{ form_row(registrationForm.prenom) }}
					{{ form_row(registrationForm.surnom) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}

				</fieldset>

				<fieldset class="mb-3">
					<legend>Mes coordonnées</legend>
					{{ form_row(registrationForm.telephone) }}

				</fieldset>
				{{ form_row(registrationForm.RGPDConsent) }}

				<button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
				<a href="{{ path('app_login') }}" class="btn btn-secondary">Me connecter</a>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>

{% endblock %}
