<li class="list-group-item" style="background-color:{{cour.coach.couleur}};">

	<span class="padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16  xs-font-size13 " style="background-color:{{cour.coach.couleur}};">{{ cour.coach.prenom|e}}
		{{ cour.coach.nom|e}}</span>
	{# <span class="prof-1 bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13"></span> #}
	<div class="margin-10px-top font-size14">{{ cour.heureDebut.format('H:i')|e}}
		-
		{{ cour.heureFin.format('H:i')|e}}
		<a href="{{ path('info_cours', {'id': cour.id }) }}">
			<i class="fa-solid fa-circle-info"></i>
		</a>
	</div>
	{% for niv in cour.niveau %}
		<div class="margin-10px-top font-size14">{{ niv|e}}
		</div>
	{% endfor %}


	<div class="font-size13 text-muted">
		{% if  ("now"|date("Ymd")  >  cour.jour|date("Ymd")) %}
			Événement passé
		{% else %}
			{% if  ("now"|date("H:i", "Europe/Paris")  > cour.heureDebut|date("H:i") )  and ("now"|date("d/m/Y")  ==  cour.jour|date("d/m/Y")) %}
				Événement passé
			{% else %}
				{% if (cour.nombreMax - cour.nombreEnCours )==0 %}
					Complet
				{% else %}
					Reste :
					{{ cour.nombreMax - cour.nombreEnCours }}
					place(s)


				{% endif %}
			</div>
			{% if app.user in cour.joueur %}
				<a href="{{ path('cancel_reservation', {'id': cour.id }) }}" class="btn btn-warning btn-sm mt-2">
					Annuler
				</a>
			{% else %}
				<a href="{{ path('make_reservation', {'id': cour.id }) }}" class="btn btn-success btn-sm mt-2">
					Réserver
				</a>
			{% endif %}
		{% endif %}
	{% endif %}

	<hr/>

</li></li>
