{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block body %}
	{# {% set week_number = date('now'|date_modify('Monday this week')) %}
																								{% set number_prev = week_number |date('W') - 1  %}
																								{% set number_next = week_number |date('W') + 1  %} 
																								{% set currentWeekday = date('now').format('N') %}
														{% set monday = date('now').modify('- ' ~ (currentWeekday - 1) ~ ' day') %}
																								#}

	{# Calcul des semaines #}
	{% set week_number = semaine %}
	{% set year = annee %}
	{% set number_prev = week_number  - 1  %}
		{% if (week_number == 52 or week_number == 53) %}
		{% set number_next =  1  %}

	{% else %}
		{% set number_next = week_number + 1  %}
	{% endif %}


	{% set date = year ~ '-W' ~ week_number ~ '-1' %}

	{% set monday = date|date('Y-m-d') %}
	{% set future_date = monday|date_modify('+6 days') %}


	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-2 bg-primary text-white p-3 mb-2  text-start">

				<a href="{{ path('voir_semaine', {'nb': number_prev }) }}" class="btn btn-light">
					<i class="fa-solid fa-chevron-left"></i>
				</a>
			</div>
			<div class="col-lg-8 bg-primary text-white p-3 mb-2 text-center">
				Semaine
				{{ week_number }}
				-
				{{ monday|format_datetime('full', 'none', locale='fr') }}
				au
				{{ future_date|format_datetime('full', 'none', locale='fr') }}
			</div>
			<div class="col col-lg-2 bg-primary text-white p-3 mb-2 text-end">

				<a href="{{ path('voir_semaine', {'nb': number_next }) }}" class="btn btn-light">
					<i class="fa-solid fa-chevron-right"></i>
				</a>
			</div>
		</div>

		<div class="timetable-img text-center">
			<img src="img/content/timetable.png" alt="">
		</div>

		<div class="table-responsive">
			<table class="table table-bordered text-center">
				<thead>
					<tr class="bg-light-gray">
						<th class="text-uppercase">Lundi</th>
						<th class="text-uppercase">Mardi</th>
						<th class="text-uppercase">Mercredi</th>
						<th class="text-uppercase">Jeudi</th>
						<th class="text-uppercase">Vendredi</th>
						<th class="text-uppercase">Samedi</th>
						<th class="text-uppercase">Dimanche</th>
					</tr>
				</thead>
				<tbody>
					<tr>

						<td>
							{% for cour in cours %}
								{% if cour.jour.format('N') == 1 %}
									{% include 'main/_cours.html.twig'  %}

								{% endif %}
							{% endfor %}

						</td>
						<td>
							{% for cour in cours %}
								{% if cour.jour.format('N') == 2 %}
									{% include 'main/_cours.html.twig'  %}
								{% endif %}
							{% endfor %}

						</td>

						<td>
							{% for cour in cours %}
								{% if cour.jour.format('N') == 3 %}
									{% include 'main/_cours.html.twig'  %}

								{% endif %}
							{% endfor %}

						</td>
						<td>
							{% for cour in cours %}
								{% if cour.jour.format('N') == 4 %}
									{% include 'main/_cours.html.twig'  %}

								{% endif %}
							{% endfor %}

						</td>
						<td>
							{% for cour in cours %}
								{% if cour.jour.format('N') == 5 %}
									{% include 'main/_cours.html.twig'  %}

								{% endif %}
							{% endfor %}

						</td>
						<td>
							{% for cour in cours %}
								{% if cour.jour.format('N') == 6 %}
									{% include 'main/_cours.html.twig'  %}

								{% endif %}
							{% endfor %}
							{# <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
														<div class="margin-10px-top font-size14">9:00-10:00</div>
														<div class="font-size13 text-light-gray">James Smith</div> #}
						</td>
						<td>
							{% for cour in cours %}

								{% if cour.jour.format('N') == 7 %}
									{% include 'main/_cours.html.twig'  %}

								{% endif %}
							{% endfor %}

						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
