{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="timetable-img text-center">
			<img src="img/content/timetable.png" alt="">
		</div>
		<div class="table-responsive">
			<table class="table table-bordered text-center">
				<thead>
					<tr class="bg-light-gray">
						<th class="text-uppercase">Time
						</th>
						<th class="text-uppercase">Monday</th>
						<th class="text-uppercase">Tuesday</th>
						<th class="text-uppercase">Wednesday</th>
						<th class="text-uppercase">Thursday</th>
						<th class="text-uppercase">Friday</th>
						<th class="text-uppercase">Saturday</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="align-middle">09:00am</td>
						<td>
							<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Dance</span>
							<div class="margin-10px-top font-size14">9:00-10:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td>
							<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
							<div class="margin-10px-top font-size14">9:00-10:00</div>
							<div class="font-size13 text-light-gray">Marta Healy</div>
						</td>

						<td>
							<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
							<div class="margin-10px-top font-size14">9:00-10:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td>
							<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
							<div class="margin-10px-top font-size14">9:00-10:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td>
							<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
							<div class="margin-10px-top font-size14">9:00-10:00</div>
							<div class="font-size13 text-light-gray">Kate Alley</div>
						</td>
						<td>
							<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
							<div class="margin-10px-top font-size14">9:00-10:00</div>
							<div class="font-size13 text-light-gray">James Smith</div>
						</td>
					</tr>

					<tr>
						<td class="align-middle">10:00am</td>
						<td>
							<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
							<div class="margin-10px-top font-size14">10:00-11:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td class="bg-light-gray"></td>
						<td>
							<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
							<div class="margin-10px-top font-size14">10:00-11:00</div>
							<div class="font-size13 text-light-gray">Kate Alley</div>
						</td>
						<td>
							<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
							<div class="margin-10px-top font-size14">10:00-11:00</div>
							<div class="font-size13 text-light-gray">Marta Healy</div>
						</td>
						<td>
							<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
							<div class="margin-10px-top font-size14">10:00-11:00</div>
							<div class="font-size13 text-light-gray">James Smith</div>
						</td>
						<td class="bg-light-gray"></td>
					</tr>

					<tr>
						<td class="align-middle">11:00am</td>
						<td>
							<span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
							<div class="margin-10px-top font-size14">11:00-12:00</div>
						</td>
						<td>
							<span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
							<div class="margin-10px-top font-size14">11:00-12:00</div>
						</td>
						<td>
							<span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
							<div class="margin-10px-top font-size14">11:00-12:00</div>
						</td>
						<td>
							<span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
							<div class="margin-10px-top font-size14">11:00-12:00</div>
						</td>
						<td>
							<span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
							<div class="margin-10px-top font-size14">11:00-12:00</div>
						</td>
						<td>
							<span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
							<div class="margin-10px-top font-size14">11:00-12:00</div>
						</td>
					</tr>

					<tr>
						<td class="align-middle">12:00pm</td>
						<td class="bg-light-gray"></td>
						<td>
							<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
							<div class="margin-10px-top font-size14">12:00-1:00</div>
							<div class="font-size13 text-light-gray">Kate Alley</div>
						</td>
						<td>
							<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
							<div class="margin-10px-top font-size14">12:00-1:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td>
							<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
							<div class="margin-10px-top font-size14">12:00-1:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td class="bg-light-gray"></td>
						<td>
							<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
							<div class="margin-10px-top font-size14">12:00-1:00</div>
							<div class="font-size13 text-light-gray">Marta Healy</div>
						</td>
					</tr>

					<tr>
						<td class="align-middle">01:00pm</td>
						<td>
							<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
							<div class="margin-10px-top font-size14">1:00-2:00</div>
							<div class="font-size13 text-light-gray">James Smith</div>
						</td>
						<td>
							<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
							<div class="margin-10px-top font-size14">1:00-2:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
						<td class="bg-light-gray"></td>
						<td>
							<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
							<div class="margin-10px-top font-size14">1:00-2:00</div>
							<div class="font-size13 text-light-gray">James Smith</div>
						</td>
						<td>
							<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
							<div class="margin-10px-top font-size14">1:00-2:00</div>
							<div class="font-size13 text-light-gray">Marta Healy</div>
						</td>
						<td>
							<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
							<div class="margin-10px-top font-size14">1:00-2:00</div>
							<div class="font-size13 text-light-gray">Ivana Wong</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<style>
		#calendar {
			width: 80%;
			margin: auto;
		}
	</style>
{% endblock %}

{% block body %}
	<div id='calendar'></div>
{% endblock %}

{% block javascripts %}
<script>

	document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'timeGridWeek',
locale: 'fr',
buttonText: {
today: 'Aujourd\'hui',
month: 'Mois',
week: 'Semaine',
day: 'Jour',
list: 'Liste'
},
timeZone: 'Europe/Paris',
allDaySlot: false,

headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'listWeek,timeGridWeek'
},
customFields: {
notes: '',
monInformationSupplementaire: ''
},
events: [
{
title: 'Mon ',
daysOfWeek: ['4'],
startTime: '12:30:00',
endTime: '14:30:00',
notes: 'Ceci est une note personnalisée pour cet événement.',
monInformationSupplementaire: 'Ceci est une information supplémentaire.'
}, {
title: 'Live Coding - démo',
start: '2023-04-05 14:00:00',
end: '2023-04-05 16:00:00'

}
]
});

calendar.render();
});
</script>
