<form method="post" action="{{ path('myadmin.abonnement.delete', {'id': abonnements_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonnements_type.id) }}">
	<button class="btn btn-danger btn-sm">Supprimer</button>
</form>
