{% extends 'myAdmin/base.html.twig' %}

{% block title %}Edit AbonnementsType
{% endblock %}

{% block body %}
	<h1>Edit AbonnementsType</h1>

	{{ include('myAdmin/abonnements/_form.html.twig', {'button_label': 'Update'}) }}


	{{ include('myAdmin/abonnements/_delete_form.html.twig') }}
{% endblock %}
