{% extends 'myAdmin/base.html.twig' %}

{% block title %}Les des types d'abonnements
{% endblock %}

{% block body %}
	{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un nouvel abonnement', chemin:'myadmin.abonnement.create'}) }}
	<div class="flash"></div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Tarif</th>
				{# <th>Centre</th> #}
				<th style="width: 300px">
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			{% for abonnements_type in abonnements_types %}
				<tr>
					<td>{{ abonnements_type.id }}</td>
					<td>{{ abonnements_type.nom }}</td>
					<td>{{ abonnements_type.description }}</td>
					<td>{{ abonnements_type.tarif }}</td>
					{# <td>{{ abonnements_type.Centre }}</td> #}
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.abonnement.edit', {id: abonnements_type.id}) }}">Editer</a>
							{# <form action="{{ path ('myadmin.abonnement.delete', {id: abonnements_type.id}) }}" method="post" onsubmit="return confirm(Êtes vous sûr de vouloir supprimer cet article?');">
																													<input type="hidden" name="_method" value="DELETE">
																													<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
																												</form> #}
							{{ include('myAdmin/abonnements/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
