{% extends 'myAdmin/base.html.twig' %}

{% block title %}New AbonnementsType
{% endblock %}

{% block body %}
	<h1>Create new AbonnementsType</h1>

	{{ include('myAdmin/abonnements/_form.html.twig') }}

	<a href="{{ path('myadmin.abonnement.list') }}">back to list</a>
{% endblock %}
