{% extends 'myAdmin/base.html.twig' %}

{% block title %}AbonnementsType
{% endblock %}

{% block body %}
	<h1>AbonnementsType</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ abonnements_type.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ abonnements_type.nom }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ abonnements_type.description }}</td>
			</tr>
			<tr>
				<th>Tarif</th>
				<td>{{ abonnements_type.tarif }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ abonnements_type.createdAt ? abonnements_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ abonnements_type.updatedAt ? abonnements_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('myadmin.abonnement.list') }}">back to list</a>

	<a href="{{ path('myadmin.abonnement.edit', {'id': abonnements_type.id}) }}">edit</a>

	{{ include('abonnements_type/_delete_form.html.twig') }}
{% endblock %}
