{% extends 'base.html.twig' %}

{% block title %}Resa index
{% endblock %}

{% block body %}
	<h1>Resa index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Jour</th>
				<th>Heure Début</th>
				<th>Heure Fin</th>
				<th>Coach</th>
				<th>Niveau</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for resa in resas %}
				<tr>
					<td>{{ resa.id }}</td>
					<td>{{ resa.jour|date('d-m-Y') }}</td>
					<td>{{ resa.heureDebut|date('H:i') }}</td>
					<td>{{ resa.heureFin|date('H:i') }}</td>
					<td>{{ resa.coach }}</td>
					<td>
						<ul>
							{% for niv in resa.niveau %}
								<li>{{ niv.nom }}</li>
							{% endfor %}
						</ul>

					</td>
					<td>
						{# <a href="{{ path('app_niveaux_show', {'id': resa.id}) }}">show</a>
												<a href="{{ path('app_niveaux_edit', {'id': resa.id}) }}">edit</a> #}
						<a href="{{ path('resa_generation', {'id': resa.id}) }}">
							Générer
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <a href="{{ path('app_niveaux_new') }}">Create new</a> #}
{% endblock %}
