{% extends 'base.html.twig' %}

{% block title %}Mes réservations!
{% endblock %}


{% block body %}
	<h1>
		Liste de mes réservations</h1>

	{% for resa  in app.user.reservationHistoriques %}
		<article class="game bg-white rounded shadow">
			<div class="mw-100 overflow-hidden rounded-top">

				<h2 class="h5 pl-3 pt-3 pb-2">

					<div class="row">
						<div class="col-md-3">

							{{resa.reservation.jour|date('d/m/Y')}}
						</div>
						<div class="col-md-2">
							de
							{{resa.reservation.heureDebut|date('h:i')}}
							à
							{{resa.reservation.heureFin|date('h:i')}}
						</div>
						<div class="col-md-3">
							avec
							{{resa.reservation.coach.prenom}}</div>

						<div class="col-md-4">
							<p class="text-{{resa.statut.couleur}}">
								{{resa.statut}}</p>
						</div>
					</div>
				</h2>
			</div>
		</article>
	{% endfor %}
{% endblock %}
