{% extends 'base.html.twig' %}

{% block title %}Information sur la réservation
{% endblock %}

{% block body %}

	<article class="pin bg-white rounded shadow">
		<div class="row">
			<div class="col-md-5 mx-auto">
				<div class="mw-100 overflow-hidden rounded-top" align="center">
					<img src="/img/tennis-wilson.jpg" class="w-50 "/>
				</div>
				<div class="mw-100 overflow-hidden rounded-top mt-2" align="center">
					<a href="{{ path('voir_semaine', {'nb': semaine }) }}" class="btn btn-light">
						<i class="fa-solid fa-chevron-left"></i>
						Retour au panning
					</a>
				</div>
			</div>
			<div class="col-md-7 mx-auto">
				<div class="p-3">

					<table class="table">
						<tbody>
							<tr>
								<th>

									Cours du :</th>
								<td>
									<i class="far fa-calendar-alt"></i>
									{{ cours.jour|date("d/m/Y")}}
								</td>
							</tr>
							<tr>
								<th>Heure:</th>
								<td>
									<i class="fa-regular fa-clock"></i>
									De
									{{ cours.heureDebut|date("H:i")}}
									à
									{{ cours.heureFin|date("H:i")}}</td>
							</tr>
							<tr>
								<th>Avec:</th>
								<td>
									<i class="fa-solid fa-user"></i>
									{{ cours.coach.prenom|raw}}
									{{ cours.coach.nom|raw}}
								</td>
							</tr>
							<tr>
								<th>Niveau(x):</th>
								<td>
									<i class="fa-solid fa-star"></i>
									{% for niv in cours.niveau %}
										<li>
											{{ niv.nom }}
											{% for i in 1.. niv.level %}
												<img src="/img/star-{{niv.level}}.svg" width="20" height="20" alt="{{niv.nom}}">
											{% endfor %}
										</li>
									{% endfor %}
								</td>
							</tr>


							<tr>
								<th>Joueur(s):
								</th>
								<td>
									{% for player in cours.joueur %}
										<li>
											{{ player.prenom }}
											{{ player.nom }}
											{% if (is_granted ('ROLE_COACH'))%}
												<a href="{{ path('cancel_reservation_coach', {'user_id': player.id, 'reservation_id':cours.id }) }}">
													<i class="fa-regular fa-circle-xmark" style="color: #f1b204;"></i>
												</a>
											{% endif %}


										</li>
									{% endfor %}
								</td>
							</tr>
							<tr>
								<th>Place(s) Disponible(s):
								</th>
								<td>
									{{ cours.nombreMax - cours.nombreEnCours }}
									sur
									{{cours.nombreMax}}
								</td>
							</tr>
							<tr>
								<td colspan="2">
									{% if (is_granted ('ROLE_COACH'))%}
										<a href="{{ path('cancel_cours_coach', {'id': cours.id }) }}" class="btn btn-warning w-100 ">
											Annuler le cours
										</a>
									{% else %}
										{% if  ("now"|date("Ymd")  >  cours.jour|date("Ymd")) %}
											<p class="text-center fw-light fst-italic">Événement passé.</p>
										{% else %}
											{% if  ("now"|date("H:i", "Europe/Paris")  > cours.heureDebut|date("H:i") )  and ("now"|date("d/m/Y")  ==  cours.jour|date("d/m/Y")) %}
												<p class="text-center fw-light fst-italic">Événement passé.</p>
											{% else %}
												{% if (is_granted ('ROLE_JOUEUR'))%}
													{% if app.user in cours.joueur %}
														<a href="{{ path('cancel_reservation', {'id': cours.id }) }}" class="btn btn-warning w-100 ">
															Annuler ma réservation
														</a>
													{% else %}
														{% if (cours.nombreMax - cours.nombreEnCours )>0 %}
															<a href="{{ path('make_reservation', {'id': cours.id }) }}" class="btn btn-success w-100 ">
																Réserver
															</a>
														{% endif %}
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
