{# {% extends "@EasyAdmin/layout.html.twig" %} #}
{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<style>
		i .fas fa-shopping-cart {
			/* Font & Text */
			font-family: "Font Awesome 5 Free";
			font-size: 70px;
			font-style: normal;
			font-variant: normal;
			font-weight: 900;
			letter-spacing: normal;
			line-height: 70px;
			text-decoration: none solid rgba(0, 0, 0, 0.15);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgba(0, 0, 0, 0.15);

			/* Box */
			height: 70px;
			width: 78.75px;
			border: 0 none rgba(0, 0, 0, 0.15);
			border-top: 0 none rgba(0, 0, 0, 0.15);
			border-right: 0 none rgba(0, 0, 0, 0.15);
			border-bottom: 0 none rgba(0, 0, 0, 0.15);
			border-left: 0 none rgba(0, 0, 0, 0.15);
			margin: 0;
			padding: 0;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: absolute;
			top: 20px;
			bottom: 52.2344px;
			right: 15px;
			left: 240.906px;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: matrix(1.1, 0, 0, 1.1, 0, 0);
			transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
			outline: rgb(99, 163, 235) dashed 1px;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		div .inner {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(255, 255, 255);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(255, 255, 255);

			/* Box */
			height: 112.234px;
			width: 394.25px;
			border: 0 none rgb(255, 255, 255);
			border-top: 0 none rgb(255, 255, 255);
			border-right: 0 none rgb(255, 255, 255);
			border-bottom: 0 none rgb(255, 255, 255);
			border-left: 0 none rgb(255, 255, 255);
			margin: 0;
			padding: 10px;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(99, 163, 235) dashed 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		section .content {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 1429.98px;
			width: 1653px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0 8px;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		body .sidebar-mini layout-fixed {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgb(255, 255, 255);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 1616.53px;
			width: 1903px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0;
			max-height: none;
			min-height: 100%;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .small-box bg-info {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(255, 255, 255);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgb(23, 162, 184);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(255, 255, 255);

			/* Box */
			height: 142.234px;
			width: 394.25px;
			border: 0 none rgb(255, 255, 255);
			border-top: 0 none rgb(255, 255, 255);
			border-right: 0 none rgb(255, 255, 255);
			border-bottom: 0 none rgb(255, 255, 255);
			border-left: 0 none rgb(255, 255, 255);
			margin: 0 0 20px;
			padding: 0;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: relative;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(255, 255, 255) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 3px 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		div .col-lg-3 col-6 {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 162.234px;
			width: 409.25px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0 7.5px;
			max-height: none;
			min-height: auto;
			max-width: 25%;
			min-width: auto;

			/* Positioning */
			position: relative;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .inner {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(255, 255, 255);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(255, 255, 255);

			/* Box */
			height: 112.234px;
			width: 394.25px;
			border: 0 none rgb(255, 255, 255);
			border-top: 0 none rgb(255, 255, 255);
			border-right: 0 none rgb(255, 255, 255);
			border-bottom: 0 none rgb(255, 255, 255);
			border-left: 0 none rgb(255, 255, 255);
			margin: 0;
			padding: 10px;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(255, 255, 255) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		p {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(255, 255, 255);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(255, 255, 255);

			/* Box */
			height: 24px;
			width: 374.25px;
			border: 0 none rgb(255, 255, 255);
			border-top: 0 none rgb(255, 255, 255);
			border-right: 0 none rgb(255, 255, 255);
			border-bottom: 0 none rgb(255, 255, 255);
			border-left: 0 none rgb(255, 255, 255);
			margin: 0 0 16px;
			padding: 0;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: 5;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(99, 163, 235) dashed 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .icon {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgba(0, 0, 0, 0.15);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgba(0, 0, 0, 0.15);

			/* Box */
			height: 0;
			width: 394.25px;
			border: 0 none rgba(0, 0, 0, 0.15);
			border-top: 0 none rgba(0, 0, 0, 0.15);
			border-right: 0 none rgba(0, 0, 0, 0.15);
			border-bottom: 0 none rgba(0, 0, 0, 0.15);
			border-left: 0 none rgba(0, 0, 0, 0.15);
			margin: 0;
			padding: 0;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: 0;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgba(0, 0, 0, 0.15) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		h3 {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 35.2px;
			font-style: normal;
			font-variant: normal;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 42.24px;
			text-decoration: none solid rgb(255, 255, 255);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: nowrap;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(255, 255, 255);

			/* Box */
			height: 42.2344px;
			width: 374.25px;
			border: 0 none rgb(255, 255, 255);
			border-top: 0 none rgb(255, 255, 255);
			border-right: 0 none rgb(255, 255, 255);
			border-bottom: 0 none rgb(255, 255, 255);
			border-left: 0 none rgb(255, 255, 255);
			margin: 0 0 10px;
			padding: 0;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: 5;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(99, 163, 235) dashed 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .container-fluid {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 1429.98px;
			width: 1637px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0 7.5px;
			max-height: none;
			min-height: 0;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		div .col-md-4 col-sm-6 col-12 {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 96px;
			width: 534.656px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0 7.5px;
			max-height: none;
			min-height: auto;
			max-width: 33.3333%;
			min-width: auto;

			/* Positioning */
			position: relative;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		body .sidebar-mini layout-fixed layout-navbar-fixed {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgb(255, 255, 255);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 2448.64px;
			width: 1903px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0;
			max-height: none;
			min-height: 100%;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .info-box {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgb(255, 255, 255);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 80px;
			width: 519.656px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0 0 16px;
			padding: 8px;
			max-height: none;
			min-height: 80px;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: relative;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			float: none;
			display: flex;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 3px 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		span .info-box-text {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 28.8px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: nowrap;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 28.7969px;
			width: 413.656px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0;
			max-height: none;
			min-height: auto;
			max-width: none;
			min-width: auto;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: hidden;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(99, 163, 235) dashed 1px;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: ellipsis;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		span .info-box-number {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 28.8px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 28.7969px;
			width: 413.656px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 4px 0 0;
			padding: 0;
			max-height: none;
			min-height: auto;
			max-width: none;
			min-width: auto;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: block;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(99, 163, 235) dashed 1px;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .info-box-content {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 28.8px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgba(0, 0, 0, 0);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 64px;
			width: 433.656px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0;
			padding: 0 10px;
			max-height: none;
			min-height: auto;
			max-width: none;
			min-width: auto;

			/* Positioning */
			position: static;
			top: auto;
			bottom: auto;
			right: auto;
			left: auto;
			float: none;
			display: flex;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(33, 37, 41) none 0;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		div .info-box {
			/* Font & Text */
			font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 24px;
			text-decoration: none solid rgb(33, 37, 41);
			text-align: left;
			text-indent: 0;
			text-transform: none;
			vertical-align: baseline;
			white-space: normal;
			word-spacing: 0;

			/* Color & Background */
			background-attachment: scroll;
			background-color: rgb(255, 255, 255);
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			color: rgb(33, 37, 41);

			/* Box */
			height: 80px;
			width: 519.656px;
			border: 0 none rgb(33, 37, 41);
			border-top: 0 none rgb(33, 37, 41);
			border-right: 0 none rgb(33, 37, 41);
			border-bottom: 0 none rgb(33, 37, 41);
			border-left: 0 none rgb(33, 37, 41);
			margin: 0 0 16px;
			padding: 8px;
			max-height: none;
			min-height: 80px;
			max-width: none;
			min-width: 0;

			/* Positioning */
			position: relative;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			float: none;
			display: flex;
			clear: none;
			z-index: auto;

			/* List */
			list-style-image: none;
			list-style-type: disc;
			list-style-position: outside;

			/* Table */
			border-collapse: separate;
			border-spacing: 0 0;
			caption-side: top;
			empty-cells: show;
			table-layout: auto;

			/* Miscellaneous */
			overflow: visible;
			cursor: auto;
			visibility: visible;

			/* Effects */
			transform: none;
			transition: all 0s ease 0s;
			outline: rgb(99, 163, 235) dashed 1px;
			outline-offset: 0;
			box-sizing: border-box;
			resize: none;
			text-shadow: none;
			text-overflow: clip;
			word-wrap: normal;
			box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 3px 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	</style>

	<section class="content">
		<div class="info-box">
			<span class="info-box-icon bg-info">
				<i class="far fa-envelope"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">Messages</span>
				<span class="info-box-number">1,410</span>
			</div>
		</div>
		{# <div
									class="container-fluid">
									<!-- Small boxes (Stat box) -->
									<div class="row">
										<div
											class="col-lg-3 col-6">
											<!-- small box -->
											<div class="small-box bg-info">
												<div class="inner">
													<h3>150</h3>
						
													<p>Joueurs et Joueuses</p>
												</div>
												<div class="icon">
													<i class="ion ion-bag"></i>
												</div>
											</div>
										</div>
										<!-- ./col -->
										<div
											class="col-lg-3 col-6">
											<!-- small box -->
											<div class="small-box bg-success">
												<div class="inner">
													<h3>53<sup style="font-size: 20px">%</sup>
													</h3>
						
													<p>Bounce Rate</p>
												</div>
												<div class="icon">
													<i class="ion ion-stats-bars"></i>
												</div>
											</div>
										</div>
										<!-- ./col -->
										<div
											class="col-lg-3 col-6">
											<!-- small box -->
											<div class="small-box bg-warning">
												<div class="inner">
													<h3>44</h3>
						
													<p>User Registrations</p>
												</div>
												<div class="icon">
													<i class="ion ion-person-add"></i>
												</div>
											</div>
										</div>
										<!-- ./col -->
										<div
											class="col-lg-3 col-6">
											<!-- small box -->
											<div class="small-box bg-danger">
												<div class="inner">
													<h3>65</h3>
						
													<p>Unique Visitors</p>
												</div>
												<div class="icon">
													<i class="fas fa-shopping-cart"></i>
												</div>
											</div>
										</div>
										<!-- ./col -->
									</div>
								</div> #}

	</section>

{% endblock %}
