<h1>Achat Validé</h1>
<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }}
</p>
Ton paiement du pack
{{ abonnement.nombreLecon }}
d'un montant
{{ prix }}
€ vient d'être validée par un coach</p><p>
Vous pouvez réserver des cours</p><p>Pour voir les détails,<a href="{{ url }}">c'est par ici</a></p>
