<h1>Attente de paiement pour un achat</h1>
<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }}
</p>
Ta demande d'achat d'un nouveau pack de
{{ abonnement.nombreLecon }}
d'un montant
{{ prix }}
€ vient d'être validée par un coach</p><p>Vous pouvez venir régler le paiement au secrétariat (Chèque, Carte Bleue, Espèce, Chèque Vacances)</p>Pour voir les détails,<a href="{{ url }}">c'est par ici</a></p>
