<h1>Nouvel achat</h1>
<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }},</p>

<p>Un nouvel achat a été initié pour
	{{ achat.abonnement.nombreLecon }}
	d'un montant
	{{ achat.prixAbonnement }}
	€ a été réalisé</p>
{# <p> #}
<p>Si vous en êtes à l'origine, vous pouvez le valider</p>
Pour voir les détails,
<a href="{{ url }}">c'est par ici</a></p>
