<h1>Nouvelle demande de validation pour un achat</h1>
<p>Bonjour L'équipe des coachs!</p>

<p>{{ user.prenom }}
	{{ user.nom }}
	vient de valider l'achat d'un nouveau pack de
	{{ abonnement.nombreLecon }}
	d'un montant
	{{ prix }}
	€ a été réalisé</p>
{# <p> #}
<p>Si tout est bon de votre coté, vous pouvez demander le paiement</p>
Pour voir les détails,
<a href="{{ url }}">c'est par ici</a></p>
