<h1>Paiement OK -
	{{ user.prenom }}
	{{ user.nom }}
	- pack
	{{ abonnement.nombreLecon }}
	pour
	{{ prix }}
	€
</h1>
<p>Bonjour L'équipe des coachs!</p>

<p>{{ user.prenom }}
	{{ user.nom }}
	vient de procéder au paiement d'un  pack de
	{{ abonnement.nombreLecon }}
	d'un montant
	{{ prix }}
	€ a été réalisé</p>
{# <p> #}
<p>Si tout est bon de votre coté, vous pouvez rajouter les leçons sur son compte</p>
Pour voir les détails,
<a href="{{ url }}">c'est par ici</a></p>
