{% extends 'myAdmin/base.html.twig' %}

{% block title %}Générer les cours
{% endblock %}

{% block body %}
	<div class="container">

		{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un modèle de cours', chemin:'myadmin.modele.reservation.create'}) }}
		<div class="flash"></div>
		{{ form(form) }}

			{{ knp_pagination_render(modeleReservation) }}</div>
	{% endblock %}
