{# {% extends 'admin/admin.html.twig' %} #}
{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les modèles de cours
{% endblock %}

{% block body %}
{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un modèle de cours', chemin:'myadmin.modele.reservation.create'}) }}
<div class="flash"></div>
<table class="table">
	<thead>
		<tr>
			<th>
				{{ knp_pagination_sortable(modeleReservation, 'ID', 'r.id')}}
			</th>
			<th>
				{{ knp_pagination_sortable(modeleReservation, 'Coach', 'r.coach.prenom')}}
			</th>

			<th>
				{{ knp_pagination_sortable(modeleReservation, 'Jour', 'r.jour')}}
			</th>
			<th>
				Heure
			</th>
			<th>
				{{ knp_pagination_sortable(modeleReservation, 'Niveau', 'r.niveau')}}
			</th>
			<th>
				Nombre Place
			</th>
			<th style="width: 300px">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		{% for modele in modeleReservation %}
			<tr id="row_modele_{{ modele.id }}">
				<td>{{ modele.id }}
				</td>
				<td>{{ modele.coach.prenom }}
				</td>
				<td>
					{{ modele.jour}}
				</td>
				<td>
					{{ modele.heureDebut|date('H:i')}}
					-
					{{ modele.heureFin|date('H:i')}}
				</td>
				<td>
					<ul>
						{% for niveau in  modele.niveaux %}
							<li>{{ niveau.nom}}</li>
							{# {{ niveau.nom}} #}
						{% endfor %}
					</ul>
				</td>
				<td>
					{{ modele.nombreMax}}
				</td>
				<td>
					<div class="d-flex gap-1">
						<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.modele.reservation.edit', {id: modele.id}) }}">Editer</a>
						<form action="{{ path ('myadmin.modele.reservation.delete', {id: modele.id}) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
						</form>
						<a class="btn btn-success btn-sm" href="{{ path ('myadmin.modele.reservation.generate', {id: modele.id}) }}">Générer Planning
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</tbody>
</tr></td></tbody></tr>{% endfor %}</tbody></table>{{ knp_pagination_render(modeleReservation) }}{% endblock %}
