<form method="post" action="{{ path('myadmin.niveau.delete', {'id': niveau.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ niveau.id) }}">
	<button class="btn btn-danger btn-sm">Supprimer</button>
</form>
