{% extends 'myAdmin/base.html.twig' %}

{% block title %}Editer un niveau
{% endblock %}

{% block body %}


	{{ include('myAdmin/niveaux/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
