{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les niveaux
{% endblock %}

{% block body %}
	{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un nouveau niveau', chemin:'myadmin.niveau.create'}) }}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Level</th>
				<th>Nombre Joueur</th>
				<th style="width: 300px">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for niveau in niveaux %}
				<tr>
					<td>{{ niveau.id }}</td>
					<td>{{ niveau.nom }}</td>
					<td>{{ niveau.description }}</td>
					<td>{{ niveau.level }}</td>
					<td>{{ niveau.users|length }}</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.niveau.edit', {id: niveau.id}) }}">Editer</a>
							{{ include('myAdmin/niveaux/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
