<p>
	<a class="btn btn-primary btn-sm" href="{{ path (chemin) }}">
		<svg width="28px" height="28px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
			<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
			<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
			<g id="SVGRepo_iconCarrier">
				<circle cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="1.5"></circle>
				<path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path>
			</g>
		</svg>&nbsp;
		{{message}}</a>
	<a class="btn btn-success btn-sm" href="{{ path ('myadmin.index') }}">
		<svg width="28px" height="28px" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
			<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
			<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
			<g id="SVGRepo_iconCarrier">
				<defs>
					<style>
						.cls-1 {
							fill: none;
							stroke: #ffffff;
							stroke-linecap: round;
							stroke-linejoin: round;
							stroke-width: 20px;
						}
					</style>
				</defs>
				<g data-name="Layer 2" id="Layer_2">
					<g data-name="E421, Back, buttons, multimedia, play, stop" id="E421_Back_buttons_multimedia_play_stop">
						<circle class="cls-1" cx="256" cy="256" r="246"></circle>
						<line class="cls-1" x1="352.26" x2="170.43" y1="256" y2="256"></line>
						<polyline class="cls-1" points="223.91 202.52 170.44 256 223.91 309.48"></polyline>
					</g>
				</g>
			</g>
		</svg>
		&nbsp;Retour à l'administration
	</a>
</p>
