<h1>Votre demande d'annulation</h1>
<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }},</p>
<p>Suite à votre demande, votre cours du{{ reservation.jour|date("d/m/Y")}}
	de
	{{ reservation.heureDebut|date("h:i")}}
	à
	{{ reservation.heureFin|date("h:i")}}

	avec
	{{ reservation.coach.prenom|raw}}
	{{ reservation.coach.nom|raw}}
	a bien été annulé
</p>
L'équipe Us Cagnes Tennis
