<h1>Votre demande d'annulation</h1>
<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }},</p>
<p>Le coach
	{{ coach.prenom }}
	vient d'annuler votre réservation du  cours du
	{{ reservation.jour|date("d/m/Y")}}
	de
	{{ reservation.heureDebut|date("h:i")}}
	à
	{{ reservation.heureFin|date("h:i")}}

	avec
	{{ reservation.coach.prenom|raw}}
	{{ reservation.coach.nom|raw}}

</p>
L'équipe Us Cagnes Tennis
