<h1>Nouveau cours réservé</h1>
<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }},</p>
<p>Votre cours du{{ reservation.jour|date("d/m/Y")}}
	de
	{{ reservation.heureDebut|date("h:i")}}
	à
	{{ reservation.heureFin|date("h:i")}}

	avec
	{{ reservation.coach.prenom|raw}}
	{{ reservation.coach.nom|raw}}
	a été pris en compte
</p>
{# <p> #}
Pour voir les détails,
<a href="{{ url }}">c'est par ici</a></p><p>Ajouter à mon calendrier</p>
