<p>Bonjour
	{{ user.prenom }}
	{{ user.nom }}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant :
	<a href="{{ url|raw }}">{{ url|raw }}</a>
</p>
<p>Merci</p>
