<h1>Activez votre compte</h1>
<p>Bonjour Coach
	{{ user.surnom }},</p>
<p>Votre inscription sur le site US Cagnes Tennis est à valider en cliquant sur le lien ci-dessous :</p>
<p>
	<a href="{{ absolute_url(path('verify_coach', {token: token})) }}">{{ absolute_url(path('verify_coach', {token: token})) }}</a>
</p>
<p>Ce lien expirera dans 3 heures</p>
