{% extends 'base.html.twig' %}

{% block title %}Impersonnalisation
{% endblock %}

{% block body %}

	<ul>
		{% for user in users %}
			<li>
				<a href="{{ impersonation_path(user.email) }}">
					Impersonnate
					{{ user.email }}</a>
			</li>

		</li>
	{% endfor %}
</ul>{% endblock %}
