{# {% extends 'admin/admin.html.twig' %} #}
{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les coachs
{% endblock %}

{% block body %}

{{ include('myAdmin/_partials/_button.html.twig', {message:'Créer un nouveau coach', chemin:'myadmin.coach.create'}) }}
<div class="flash"></div>
<table class="table">
	<thead>
		<tr>
			<th>
				{{ knp_pagination_sortable(coachs, 'ID', 'r.id')}}
			</th>
			<th>
				{{ knp_pagination_sortable(coachs, 'Prénom', 'r.prenom')}}
			</th>

			<th>
				{{ knp_pagination_sortable(coachs, 'Nom', 'r.nom')}}
			</th>
			<th>
				Surnom
			</th>
			<th>
				{{ knp_pagination_sortable(coachs, 'Affichage', 'r.couleur')}}
			</th>

			<th style="width: 300px">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		{% for coach in coachs %}
			<tr id="row_coach_{{ coach.id }}">
				<td>{{ coach.id }}
				</td>
				<td>{{ coach.prenom }}
				</td>
				<td>
					{{ coach.nom}}
				</td>
				<td>
					{{ coach.surnom}}
				</td>
				<td>
					<input type="color" value="{{ coach.couleur }}" readonly/>
				</td>
				<td>
					<div class="d-flex gap-1">
						<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.coach.edit', {id: coach.id}) }}">Editer</a>
						<form action="{{ path ('myadmin.coach.delete', {id: coach.id}) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
						</form>
						{% if 'ROLE_COACH' in  coach.roles %}
							<a class="btn btn-success btn-sm" href="{{ path ('myadmin.coach.promote', {id: coach.id}) }}">Changer role</a>
						{% else %}
							<a class="btn btn-warning btn-sm" href="{{ path ('myadmin.coach.decrease', {id: coach.id}) }}">Changer role</a>
						{% endif %}
					</div>
				</td>
			</tr>
		</td>
	</tbody>
</tr></tbody></tbody></tr></td></tbody></tr>{% endfor %}</tbody></table>{{ knp_pagination_render(coachs) }} {% endblock %}
