<div class="col-md-2 mx-auto">
	{% if workflow_can(achat, 'to_coach_validation_pending') %}
		<a class="btn btn-warning" href="{{ path('achat_change', {'id': achat.id, 'to': 'to_coach_validation_pending'}) }}">
			<i class="fa-solid fa-circle-question"></i>
		</a>
		<button type="button" class="btn btn-secondary" disabled>
			<i class="fa-solid fa-user"></i>
		</button>
		<button type="button" class="btn btn-secondary" disabled>
			<i class="fa-solid fa-money-bill-1"></i>
		</button>
		<button type="button" class="btn btn-secondary" disabled>
			<i class="fa-solid fa-circle-check"></i>
		</button>

	{% elseif workflow_can(achat, 'to_order_paiement') %}
		<button type="button" class="btn btn-success" disabled>
			<i class="fa-solid fa-circle-question"></i>
		</button>
		<a class="btn btn-warning " href="{{ path('achat_change', {'id': achat.id, 'to': 'to_order_paiement'}) }}">
			<i class="fa-solid fa-user"></i>
		</a>
		<button type="button" class="btn btn-secondary" disabled>
			<i class="fa-solid fa-money-bill-1"></i>
		</button>
		<button type="button" class="btn btn-secondary" disabled>
			<i class="fa-solid fa-circle-check"></i>
		</button>

	{% elseif workflow_can(achat, 'to_coach_ok') %}
		<button type="button" class="btn btn-success" disabled>
			<i class="fa-solid fa-circle-question"></i>
		</button>
		<button type="button" class="btn btn-success" disabled>
			<i class="fa-solid fa-user"></i>
		</button>
		<a class="btn btn-warning " href="{{ path('achat_change', {'id': achat.id, 'to': 'to_coach_ok'}) }}">
			<i class="fa-solid fa-money-bill-1"></i>
		</a>
		<button type="button" class="btn btn-secondary" disabled>
			<i class="fa-solid fa-circle-check"></i>
		</button>

	{% elseif workflow_can(achat, 'to_order_ok') %}
		<button type="button" class="btn btn-success" disabled>
			<i class="fa-solid fa-circle-question"></i>
		</button>
		<button type="button" class="btn btn-success" disabled>
			<i class="fa-solid fa-user"></i>
		</button>
		<button type="button" class="btn btn-success" disabled>
			<i class="fa-solid fa-money-bill-1"></i>
		</button>
		<a class="btn btn-warning " href="{{ path('achat_change', {'id': achat.id, 'to': 'to_order_ok'}) }}">
			<i class="fa-solid fa-circle-check"></i>
		</a>
	{% else %}
		{% if 'request' in workflow_marked_places(achat) %}
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-circle-question"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-user"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-money-bill-1"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-circle-check"></i>
			</button>
		{% elseif 'coach_validation_pending' in workflow_marked_places(achat) %}
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-circle-question"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-user"></i>

			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-money-bill-1"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-circle-check"></i>
			</button>
		{% elseif 'order_paiement' in workflow_marked_places(achat) %}
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-circle-question"></i>
			</button>
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-user"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-money-bill-1"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-circle-check"></i>
			</button>
		{% elseif 'coach_ok' in workflow_marked_places(achat) %}
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-circle-question"></i>
			</button>
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-user"></i>
			</button>
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-money-bill-1"></i>
			</button>
			<button type="button" class="btn btn-secondary" disabled>
				<i class="fa-solid fa-circle-check"></i>
			</button>
		{% elseif 'order_ok' in workflow_marked_places(achat) %}
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-circle-question"></i>
			</button>
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-user"></i>
			</button>
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-money-bill-1"></i>
			</button>
			<button type="button" class="btn btn-success" disabled>
				<i class="fa-solid fa-circle-check"></i>
			</button>
		{% endif %}
	{% endif %}
</div>
