{% extends 'base.html.twig' %}

{% block title %}Hello AchatController!
{% endblock %}

{% block body %}
	{# {{ component('select_achat',{'centres': centres}) }} #}
	{# <div>
										il vous reste
										{{ app.user.nombreLeconsRestantes }}
									</div> #}
		<div class="container bootstrap snippets bootdey"> <div class="pricing-table pricing-three-column row">
			{% for abonnement in abonnements %}


				<div style="z-index:55;" class="plan col-sm-4 col-lg-4">
					<div class="plan-name-silver">
						<h2>{{ abonnement.nom }}
						</h2>
						<span>
							{# <strike>$10.99</strike> #}
							{# <font color="red">$9.99 - #}
							{# <span class="label label-warning">Sale</span> #}
							{# </font> #}
								<span class="label label-warning"> {{ abonnement.tarif }}
								€</span>
						</span>

					</div>
					<ul>
						<li class="plan-feature">
							{{ abonnement.nombreLecon }}
							leçons</li>
						<li class="plan-feature">{{ abonnement.description }}</li>
						<li class="plan-feature">
							<a href="{{ path('achat_nouveau', {'id': abonnement.id }) }}" class="btn btn-primary btn-plan-select">
								<i class="icon-white icon-ok"></i>
								Select</a>
						</li>
					</ul>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}
