{% extends 'base.html.twig' %}
{% block title %}
	Workflow des achats en attente
{% endblock %}

{% block body %}
	<h2>
		Liste des demandes en cours
	</h2>
	{% for achat in achats %}
		{# {% for transition in workflow_transitions(achat) %} #}
		{# <a href="...">{{ transition.name }}</a> #}
		{# {% else %} #}
		{# No actions available. #}
		{# {% endfor %} #}


			<article class="pin bg-white rounded shadow"> <div class="row">
				<div class="col-md-2 mx-auto">
					{{achat.createdAt|date('d/m/Y')}}
				</div>
				<div class="col-md-2 mx-auo">
					{{achat.abonnement.nom}}
				</div>
				<div class="col-md-2 mx-auto">
					Demande de
					{{ achat.joueur.prenom }}
					{{ achat.joueur.nom }}
				</div>
				<div class="col-md-2 mx-auto">
					{{ achat.prixAbonnement/100 }}
					€
				</div>
				{% include 'achat/_workflow.html.twig'  %}

			</div>
		</article>


		<hr>
	{% endfor %}
	{# Or loop through the enabled transitions #}
	{# display navigation #}
	<div class="navigation">{{ knp_pagination_render(achats) }}</div>
{% endblock %}
